1 24 "app.manifest"
2 ICON "app.ico"   

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", ""
      VALUE "FileDescription", "FE Image Optimizer"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", ""
      VALUE "LegalCopyright", ""
      VALUE "OriginalFilename", "fe-image-optimizer.exe"
      VALUE "ProductName", "FE Image Optimizer"
      VALUE "ProductVersion", "1.0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END

102 300 "lib\\jpegoptim.exe"
103 300 "lib\\pngquant.exe"

